@{
    ViewData["Title"] = "Mi primera vista";
    string autor = "Nathalia";
    int edad = 22;
}
<html>

    <head>

        <title>@ViewBag.Title</title>

    </head>

    <body>

        <div>

            <h1>Modificando una vista</h1>

            <p>
                <strong>Yo soy: </strong> @autor<br/>
                Mi edad <input type ="number" value=" @edad" placeholder="Escriba su edad"/>
            </p>

        </div>

        <div>
            <label>Pertenezco al equipo de PI llamado: </label>
            <input type="text" placeholder="Nombre"/>

        </div>

    </body>

</html>

